<div class="card-group">
            <div class="card">
                <a href="#" class="stretched-link"></a>
                <div class="card-img">
                {% image item.imgurl, item.name, "300" %}
                </div>
                <div class="card-content">
                    <p>{{ item.name }} är {{ item.fact }}</p>
                    <p>{{ page.date | dateFilter }}</p>
                </div>
                <a href="index.html" class="card-more"><img src="/images/outline_more_vert_black_24dp.png" alt="Face image" class="card-img card-img-right" style="margin-left: auto;"></a>
            </div>
    </div>