<footer class="footer">
    <div class="container footer-inner">
        <p>Copyright 1994</p>
        <ul>
            {% for item in items %}
                <li class="nav-item">
                    <a href="/items/{{ item.name | slug }}/" class="nav-link">{{ item.name }}</a>
                </li>
            {% endfor %}
                <li class="nav-item">
                    <a href="/donate/" class="nav-link">Donate</a>
                </li>
            </ul>
        </ul>
    </div>
</footer>