<footer class="footer">
    <div class="container footer-inner">
        <p>Copyright 1994</p>
        <ul>
            <li>HELLO</li>
            <li>LET ME OUT</li>
            <li>HELP ME</li>
            <li>PLEASE</li>
            <li>I BEG YOU</li>
        </ul>
    </div>
</footer>