    <nav class="navbar">
        <div class="navbar-inner container containernav">
            <a class="navbar-brand" href="/">Logotext</a>
            <ul class="nav">
            {% for item in items %}
                <li class="nav-item">
                    <a href="/items/{{ item.name | slug }}/" class="nav-link">{{ item.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </nav>