.footer {
    margin-top: auto;
    background-color: $footer-color;
    color: $page-color;
    padding-top: 3rem;
    padding-bottom: 4rem;

    ul {
        list-style-type: none;
    }
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}