---
layout: base.njk
pagination:
    data: items
    size: 1
    alias: item
permalink: "items/{{ item.name | slug }}/"
---
<h1>{{ item.name }}</h1>

{% image item.imgurl, item.name, "300" %}

<p>{{ item.name }} är {{ item.fact }}</p>

{% include "components/card.njk" %}