$bg-color: rgb(230, 230, 230);
$page-color: rgb(238, 238, 238);
$primary: #90ee90;

$breakpoint-lg: 48rem;
$breakpoint-md: div($breakpoint-lg, 2);
$breakpoint-sm: div($breakpoint-lg, 4);

body {
    background-color: $bg-color;
}

@import "utilities/container";
@import "components/nav";